.newLine {
  white-space: pre-wrap;
}

.card {
  margin: 1rem;
  border-radius: 12px;
  border: 2px solid rgb(219, 220, 220);
  height: 18rem;
  overflow-y: hidden;
}

.card-head {
  background-color: rgb(167, 47, 253);
  border-radius: 8px 8px 0 0;
  color: white;
}

.card-heading {
  font-size: 2rem;
  display: inline-block;
  margin: 1rem;
  margin-right: 2rem;
}

.more-icon {
  position: absolute !important;
  top: 1.1rem;
  right: 0.4rem;
}

.code {
  font-size: 1.1rem;
  margin: 0.6rem;
  margin-top: 0.2rem;
  padding: 0;
}

.blur {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(204, 156, 245, 0.791),
    rgba(0, 0, 0, 0) 100% 0%
  );
  width: 100%;
  height: 4rem;
  border-radius: 0 0 8px 8px;
  backdrop-filter: blur(5px);
}

.card-button {
  background-color: rgba(201, 27, 245, 0.9) !important;
  margin-top: 5% !important ;
  margin-left: 6% !important ;
}
.card-button:hover {
  background-color: rgba(85, 13, 137, 0.9) !important;
}

.col-sm-6{
  padding: 0 0 0 1.2rem;
}