.banner__heading {
  color: white;
  margin: 0;
  padding: 33% 0 4rem 4rem;
  font-size: 300%;
  font-weight: 500;
  margin-bottom: 4%;
}

.banner__image1 {
  padding: 2px;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.9px);
  -webkit-backdrop-filter: blur(1.9px);
  border: 1px solid rgba(255, 255, 255, 0.19);
  height: 40%;
  position: relative;
  top: 22%;
  margin: 0;
  left: 11%;
  width: 43%;
  height: 39%;
}
.banner__image2 {
  margin: 0;
  width: 50%;
  height: 50%;
  padding: 2px;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.9px);
  -webkit-backdrop-filter: blur(1.9px);
  border: 1px solid rgba(255, 255, 255, 0.19);
  height: 48%;
  position: relative;
  top: 45%;
  right: 2%;
}

.banner__button1 {
  position: relative;
  top: 1%;
  left: 15%;
  transform: scale(1.2);
}
.banner__button2 {
  position: relative;
  top: 1%;
  left: 30%;
  transform: scale(1.2);
}

.banner {
  background: linear-gradient(270deg, #27affe, #27c0db, #bb35f9);
  background-size: 600% 600%;
  height: 34rem;
  -webkit-animation: AnimationName 23s ease infinite;
  -moz-animation: AnimationName 23s ease infinite;
  animation: AnimationName 23s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.text-centered {
  text-align: center;
  padding: 8%;
  background-color: white;
  position: relative;
  z-index: 1;
}
.text-centered h3 {
  font-size: 2rem;
  font-weight: 700;
  color: rgb(46, 46, 46);
}
.text-centered p {
  color: #848484;
  font-weight: 400;
}
.text-centered i {
  font-size: 4.5rem;
  color: #9c9cfc;
}
.text-centered i:hover {
  color: #c981f3;
}

@media screen and (max-width: 519px) {
  .banner {
    padding: 2px;
  }
  .banner__heading {
    font-size: 2.8rem;
  }
  div .container {
    width: 100%;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 991px) {
  .onSmallHide {
    display: none;
  }

  .banner__button1 {
    transform: scale(1);
    left: 7rem;
  }
  .banner__button2 {
    transform: scale(1);
    left: 14rem;
  }

  .banner__heading {
    padding: 10rem 7rem 3rem 7rem ;
    margin-bottom: 0;
  }

  .banner {
    height: 30rem;
  }
}

@media screen and (max-width: 663px) {
  .banner__heading {
    padding: 10rem 4rem 2rem 4rem ;
  }
  .banner__button2 {
    transform: scale(1);
    left: 6rem;
  }
  .banner__button1 {
    transform: scale(1);
    left: 4rem;
  }
}

@media screen and (max-width: 451px) {
  .banner__heading {
    padding: 8rem 2rem 2rem 2rem ;
  }
  .banner__button1 {
    left: 3rem;
  }
  .banner__button2 {
    left: 4rem;
  }
}
@media screen and (max-width: 394px) {
  .banner__heading {
    padding: 7.3rem 1rem 2rem 2rem ;
    font-size: 2.2rem;
  }
  .banner__button1 {
    transform: scale(0.91);
    left: 2rem;
  }
  .banner__button2 {
    transform: scale(0.91);
    left: 3rem;
  }

  .banner {
    height: 24rem;
  }
}

@media screen and (max-width: 360px) {
  .banner__button1 {
    left: 1rem;
  }
  .banner__button2 {
    left: 1.2rem;
  }
}


@media screen and (max-width: 332px) {
  .banner__heading {
    font-size: 2rem;
  }
  .banner__button1 {
    transform: scale(0.71);
    left: 0.7rem;
  }
  .banner__button2 {
    transform: scale(0.71);
    left: 9rem;
    top:-2.1rem;
  }
}