.navbar {
  background-color: #f1f1f100;
  padding: 2rem 1.5rem;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

.navbar button{
  margin-left: 2rem;
}

.logo {
  font-size: 4rem;
  font-weight: bold;
  transition: 0.4s;
  color: white;
  margin-left: 2.5rem;
  white-space: nowrap;
}

.logo:hover{
  color: white;
}

.navbar-right {
  position: absolute;
  right: 2rem;
}


.shrink {
  padding: 1rem 10px;
  background-color: rgba(105, 105, 105, 0.47);
  backdrop-filter: blur(7px);
}

.shrink-logo {
  font-size: 3rem;
}


@media screen and (max-width: 991px) {
  .navbar-right {
    display: none;
  }

  .logo {
    font-size: 4rem;
    margin-left: 0;
    width: 100%;
    text-align: center;
  }

  .shrink-logo {
    font-size: 3rem;
  }
  

  .navbar {
    width: 100vw;
  }
}

@media screen and (max-width: 394px) {
  .logo {
    font-size: 2.7rem;
    margin-left: 0;
    width: 100%;
    text-align: center;
  }

  .shrink-logo {
    font-size: 2.5rem;
  }
}
